body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background-color: #F7F1ED;

}

/* .maininfo {
    background-color: #F7F1ED;
    width: 100%;
} */

img {
    max-width: 90%;
}


.logo {
    display: block;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
}


h2 {
    display: flex;
    justify-content: center;
}
.header {
    display: flex;
    justify-content: space-evenly;
    border-width: 1px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.link {
    display: flex;
    justify-content: space-around;
}
a {
    color: grey;
    border-style: solid;
    border-color: grey;
    border-radius: 20px;
    padding: 5px;
    text-decoration: none;
}
a:hover {
    background-color: #98002E;
    color: #F7F1ED;
}


.GDESinfo {
    background-color: #F4E2D6;
    /* width: 100%; */
    margin: 0 auto;
    max-width: 90%;
}

.microchip {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid {
    display: grid;
    gap: 1rem;
    margin: 0 auto;
}

hr {
    border-color: #98002E;
    width: 75%;
}

.bottoma {
    display: flex;
    justify-content: center;
    width: 30%;
    margin: 0 auto;
}
footer {
    background-color: #98002E;
    padding: 25px;
}
.footertext {
    color: white;
    display: flex;
    justify-content: center;
}


@media only screen and (min-width: 662px) {
    .grid {
        grid-template: auto / 1fr 1fr;
        gap: 4rem;
    }
}
@media only screen and (min-width: 992px) {
    .grid {
        grid-template: auto / 1fr 1fr 1fr;
    }
}